<div class="row">
      <form class="col-xs-4" [ngFormModel]="formInput">
        <div class="input-field col s12">
          <input id="search" ngControl="search"  type="text" class="validate">
          <label>Enter your search</label>
        </div>
      </form>
    </div>
    <div class="row">
      <div *ngFor="let photo of photos">
        <div class="col s4">
          <div class="card">
            <div class="card-image">
              <img src={{photo.url}}>
              <span class="card-title">{{photo.title}}</span>
            </div>
            
          </div>
        </div>
      </div>
    </div>